<!DOCTYPE HTML>

<html>

<head>
    <title>Add a book</title>


</head>

<body>
	book
	<a href="/home"><button>HOME PAGE</button></a>
	<a href="/"><button>LOGOUT</button></a>
	<h2>Add a new book title and a review:</h2>
	<form action='/addbook/process' method="post">
		{% csrf_token %}
		<p>Book Title: <input type="text" name="title"></p>
		<p>Author: <input type="text" name="author"></p>
		<p>Description: <textarea name="description"></textarea></p>
		<p>Review: <textarea name="review"></textarea></p>
		<p>Rating: 
			<select name="rating">
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
			</select>
		</p>
		<input type="submit" value="Add Review">
	</form>


</body>

</html>